version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
  - package-ecosystem: 'cargo'
    directories:
      - '/'
      - '/tests/utilities/'
    schedule:
      interval: 'daily'
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'daily'
    groups:
      npm-dependencies:
        patterns:
          - '*'
  - package-ecosystem: 'gitsubmodule'
    directory: '/argo-cd'
    schedule:
      interval: 'daily'
